.search {
  margin-top: 3%;
  text-align: right;
  margin-right: 2%;
}
.but {
  display: flex;
  flex-direction: column;
  color: aliceblue;
  text-decoration: aliceblue;
  cursor: pointer;
  background: 000000;
}
.design {
  margin-top: 10%;
  text-decoration: solid;
  font-weight: bold;
  color: chocolate;
}
input[type="text"],
input[type="text"] {
  width: 30%;
  padding: 0 0 0 10px;
  margin: 0;
  color: black;
  border: 1px solid chocolate;
  font-style: normal;
  font-size: 16px;
  -webkit-appearance: none;
  -moz-appearance: none;
  appearance: none;
  position: relative;
  display: inline-block;
  background: none;
  border-radius: 20%;
  height: 20%;
}
